MONGODB_URI=mongodb://<USERNAME>:<PASSWORD>@ac-tj2e4ud-shard-00-00.xsechtq.mongodb.net:27017,ac-tj2e4ud-shard-00-01.xsechtq.mongodb.net:27017,ac-tj2e4ud-shard-00-02.xsechtq.mongodb.net:27017/TicketDB?ssl=true&replicaSet=atlas-w2beu1-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0